/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --body-background: #FAFAFA;
    --body-color: #030303;
    --sidebar-color: #CBD5E1;
    --buttonCTA-color: #0284c7;
    --card-color: #FAFAFA;
    --textslate-color: #475569;
    --shadow-color: rgba(0, 0, 0, 20%);
    --footer-color: rgb(2 132 199);
    --placeholder-color:#cbd5e1;
    --bg-modal: rgba(0,0,0,0.4); 
  }
  .dark {
    --body-background: #030303;
    --body-color: #FAFAFA;
    --sidebar-color: #334155;
    --buttonCTA-color: #38bdf8;
    --card-color: #1e293b;
    --textslate-color: #475569;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --footer-color: #172554;
    --placeholder-color:#cbd5e1;
    --bg-modal: rgba(255,255,255,0.4); 
  }

*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
  height: 100vh;
}
h3{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
}
table {
  width: 80%;
  height: 100%A;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table thead tr {
  background-color: var(--buttonCTA-color);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--buttonCTA-color);
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

table tbody td a{
  color: var(--buttonCTA-color);
  display: flex;
  
}

